@using FirstMVCProject.Models.User
@model List<UserModel>

@{
    ViewData["Title"] = "Usuário";
}

@if (TempData["SucessEditMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["SucessEditMessage"]
    </div>
}

@if (TempData["ErrorEditMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["ErrorEditMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Listagem de usuários</h1>
    <br />
    <br />

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="User" asp-action="AddUsers">Criar novo usuário</a>
    </div>
    <br />

    <table class="table" id="tabela-usuarios">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Login</td>
                        <td>@contato.Email</td>
                        <td>@contato.DataCriacao</td>
                        <td>
                            <div class="btn-group-sm d-grid gap-2 d-md-flex justify-content-center">
                                <a class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="User" asp-action="EditUser" method="get">Editar</a>
                                <a class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="User" asp-action="DeleteUser">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>